@model WebApplication1.Models.staff
@{
    ViewBag.Title = "Viewstaff";
    Layout = "~/Views/AdminLayout.cshtml";
}
<style>
    body {
        background-color: lightgray;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .bg-page {
        background-color: rgba(0, 0, 0, 0.6); /* Adjust the background color opacity */
    }
</style>
<script type="text/javascript" src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js'></script>

<!--<h2 class="main-title-w3layouts mb-2 text-center">Tables</h2>-->
<!--// main-heading -->
<!-- Tables content -->
<section class="tables-section">
    <!-- table1 -->
    <div class="outer-w3-agile mt-3" style="background-color: lightgray">
        <div class="table-responsive">
            <h4 class="tittle-w3-agileits mb-4" style="color:black;">Staff Details</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone_no</th>
                        <th scope="col">Address</th>
                        <th scope="col">Delete</th>
                        <th scope="col">Edit</th>

                    </tr>
                </thead>
                <tbody>
                    @{ int count = 1;}
                    @foreach (var item in Model.staff_details)
                    {
                        <tr>
                            <td>@count</td>
                            <td>@item.fn_name</td>
                            <td>@item.ln_name</td>
                            <td>@item.email</td>
                            <td>@item.phone_no</td>
                            <td>@item.address</td>
                            <td>
                                <input type="button" id="btnShowLogin_@item.stf_id" class="btn btn-danger" value="delete" />

                                <script type="text/javascript">
                                    $(function () {
                                        $("#btnShowLogin_@item.stf_id").click(function () {
                                            $('#LoginModal_@item.stf_id').modal('show');
                                        });
                                    });
                                </script>

                                <div class="modal fade" id="LoginModal_@item.stf_id" tabindex="-1" role="dialog" aria-labelledby="ModalTitle"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">

                                                <h4 class="modal-title" id="ModalTitle">
                                                    Delete Staff Details
                                                </h4><button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    &times;
                                                </button>

                                            </div>
                                            <form action="/Admin/delete_staff" method="post" enctype="multipart/form-data">
                                                <div class="modal-body">
                                                    <h4>Are you sure want to delete this data?</h4>
                                                    <input type="hidden" value="@item.stf_id" name="stf_id" />
                                                </div>
                                                <div class="modal-footer">
                                                    <input type="submit" value="Yes" class="btn btn-lg btn-success" />
                                                    <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">
                                                        No
                                                    </button>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td>
                                <input type="button" id="btnShowStaff_@item.stf_id" class="btn btn-danger" value="Edit" />

                                <script type="text/javascript">
                                    $(function () {
                                        $("#btnShowStaff_@item.stf_id").click(function () {
                                            $('#EditModal_@item.stf_id').modal('show');
                                        });
                                    });
                                </script>

                                <div class="modal fade" id="EditModal_@item.stf_id" tabindex="-1" role="dialog" aria-labelledby="ModalTitle"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">

                                                <h4 class="modal-title" id="ModalTitle">
                                                    Edit Staff Details
                                                </h4><button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    &times;
                                                </button>

                                            </div>
                                            <form action="/Admin/Edit_Staff" method="post" enctype="multipart/form-data">
                                                <div class="modal-body">

                                                    <input type="hidden" value="@item.stf_id" name="Id" />

                                                    <label for="firstName">First name</label>
                                                    <input type="text" class="form-control" id="FirstName" placeholder="" required="" name="fn" value="@item.fn_name" readonly>


                                                    <label for="lastName">Last name</label>
                                                    <input type="text" class="form-control" id="lastName" placeholder="" required="" name="ln" value="@item.ln_name" readonly>


                                                    <label for="Email">Email</label>
                                                    <input type="Email" class="form-control" id="Email" placeholder="" name="Email" value="@item.email" readonly>

                                                    <label for="Phone No">Phone No</label>
                                                    <input type="text" class="form-control" id="phone No" placeholder="Enter Number" required="" name="phno" value="@item.phone_no">

                                                    <label for="address">Address</label>
                                                    <textarea class="form-control" name="address" placeholder="Enter Address.." value="@item.address"></textarea>
                                                </div>
                                                <div class="modal-footer">
                                                    <input type="submit" value="Yes" class="btn btn-lg btn-success" />
                                                    <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">
                                                        No
                                                    </button>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        count++;
                    }
                </tbody>
            </table>
            </div>
        </div>
</section>

